[Unit]
Description=Opinionated Debian Installer Back-End
After=network.target

[Service]
ExecStart=/usr/bin/flask --app backend run
WorkingDirectory=/
User=root
Group=root

[Install]
WantedBy=multi-user.target
