[Unit]
Description=Opinionated Debian Installer - Back-End
After=network.target

[Service]
Environment=INSTALLER_SCRIPT=/installer.sh
EnvironmentFile=-/boot/efi/installer.ini
ExecStart=/usr/bin/flask --app /backend.py run --host ${BACK_END_IP_ADDRESS}
RuntimeDirectory=installer
WorkingDirectory=/run/installer
User=root
Group=root

[Install]
WantedBy=multi-user.target
