[Unit]
Description=Opinionated Debian Installer - Back-End
After=network.target

[Service]
Environment=INSTALLER_SCRIPT=/installer.sh
ExecStart=/usr/bin/flask --app /backend.py run
RuntimeDirectory=installer
WorkingDirectory=/run/installer
User=root
Group=root

[Install]
WantedBy=multi-user.target
