[Unit]
Description=Opinionated Debian Installer - Back-End
After=network.target

[Service]
Environment=INSTALLER_SCRIPT=/installer.sh
EnvironmentFile=-/boot/efi/installer.ini
ExecStart=/sbin/opinionated-installer backend
RuntimeDirectory=installer
WorkingDirectory=/run/installer
Type=notify
User=root
Group=root

[Install]
WantedBy=multi-user.target
