# This is a hack allowing systemd-repart to detect the root disk.
# According to https://github.com/systemd/systemd/blob/main/src/partition/repart.c
# systemd-repart expects the root disk to be available as /run/systemd/volatile-root
# if / is not backed by a block device - such as when having / on overlayfs
# which is the case for our installer

[Unit]
Description=Opinionated Debian Installer - Link volatile root for systemd-repart
Wants=mnt-overlay_top.mount
After=mnt-overlay_top.mount
Before=systemd-repart.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /mnt/overlay_top /run/systemd/volatile-root

[Install]
WantedBy=systemd-repart.service
